<!DOCTYPE html>
<html>
<head>
  <title>Bff</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,300italic,400italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
